@import url('https://fonts.googleapis.com/css?family=Concert+One|Varela+Round|Oleo+Script');

:root {
  --background: #ececec;
  --color: #333;
  --muted: #999;
  --blue: #80b3ff9c;
  --purple: #A3A1DE;
  --purple-dark: #9a98d4;
  --vaiant1: #fff;
  --vaiant2: #f4f4f4;
}

html {
  font-family: 'Varela Round', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: var(--color);
  background-color: var(--background);
}

input, textarea {
  color: inherit;
}

::placeholder {
  color: --var(muted);
}

h1, h2, h3, h4 {
  font-family: 'Concert One';
  font-size: 1.12rem;
}

textarea {
  line-height: 1.2;
}